/* Table */
.list table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.list table th,
.list table td {
    border: 1px solid var(--background-dark);
    text-align: left;
    padding: 8px;
}

.list table th {
    background-color: var(--background-dark);
    color: #FFF;
}